#workskin {
  padding: 0.5em 1em;
}

#workskin .centered {
  text-align: center;
}

#workskin .italics {
  font-style: italic;
}

#workskin .right {
  text-align: right;
}

#workskin .block {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  border: 1px dashed gray;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
}

#workskin .black,
#workskin .pesterlog {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #000000;
}

#workskin .white {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #ffffff;
}

#workskin .aradia {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #a10000;
}

#workskin .AR,
#workskin .dave,
#workskin .ARquiusprite {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #e00707;
}

#workskin .athblue {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #0000ff;
}

#workskin .athred,
#workskin .kankri,
#workskin .altkarkat {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #ff0000;
}

#workskin .bro,
#workskin .davesprite,
#workskin .dirk {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #f2a400;
}

#workskin .dad,
#workskin .pipefan413 {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #4b4b4b;
}

#workskin .equius,
#workskin .horuss {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #000056;
}

#workskin .eridan,
#workskin .cronus {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #6a006a;
}

#workskin .exile {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #ffffff;
  background-color: #000000;
}

#workskin .feferi,
#workskin .meenah {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #77003c;
}

#workskin .gamzee,
#workskin .kurloz {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #2b0057;
}

#workskin .jade,
#workskin .erisolsprite {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #4ac925;
}

#workskin .jadesprite,
#workskin .jake {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #1f9400;
}

#workskin .jane,
#workskin .nannasprite {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #00d5f2;
}

#workskin .jaspersprite,
#workskin .mom,
#workskin .roxy {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #ff6ff2;
}

#workskin .john,
#workskin .tavrisprite {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #0715cd;
}

#workskin .kanaya,
#workskin .porrim {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #008141;
}

#workskin .karkat {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #626262;
}

#workskin .nepeta,
#workskin .meulin {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #416600;
}

#workskin .rose {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #b536da;
}

#workskin .scratch-green {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #ffffff;
  background-color: #1f9400;
}

#workskin .scratch,
#workskin .scratch-white {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #ffffff;
  background-color: #ffffff;
}

#workskin .sollux,
#workskin .mituna {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #a1a100;
}

#workskin .strider {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #f2a400;
}

#workskin .tavros,
#workskin .rufioh {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #a15000;
}

#workskin .terezi,
#workskin .latula {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #008282;
}

#workskin .uu,
#workskin .uranianumbra,
#workskin .calliope {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #929292;
}

#workskin .undyingumbrage,
#workskin .caliborn {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #323232;
}

#workskin .vriska,
#workskin .aranea {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #005682;
}

#workskin .altcaliborn,
#workskin .felt,
#workskin .lordenglish {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #2ed73a;
}

#workskin .limeblood {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #678900;
}