@font-face {
  font-family: fontstuck;
  src: url(./fontstuck-extended.ttf);
}

body {
  margin: 0;
}

/* Work Area */

#input {
  height: calc(100vh - 60px);
  resize: none;
  padding-left: 8px;
  border: 1px solid #000;
  overflow: auto;
  width: 50%;
  box-sizing: border-box;
}

#outputs {
  height: calc(100vh - 60px);
  border: 1px solid #000;
  resize: none;
  width: 50%;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
}

#textWrap {
  display: flex;
}

#outputHeader {
  padding: 0.2em .5em;
  border-bottom: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  position: sticky;
  top: 0; left: 0; right: 0;
  background: white;
  box-sizing: border-box;
  height: 2em;
}

/* Work Styles */

#workskin {
  font: 1em 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif;
  font-size: .875em;
  padding: 0.5em 1em;
}

#slide {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 25px;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #eeeeee;
}

.slide { background-color: #eeeeee; }

#slide .spoiler {
  border: 1px dashed gray;
  padding: 1px;
}

#slide .spoiler > div:last-child {
  margin: 12px 5%;
  padding: 3px;
  text-align: left;
}

@font-face {
  font-family: Uni sans;
  src: url(./Uni\ Sans\ Regular.ttf);
}

#discord {
  background-color: #36393f;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #dcddde;
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0.5em 1em;
}

#discord .block {
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  background-color: #2f3136;
  padding: .5em;
  border-radius: 4px;
  border: 1px solid #202225;
}

#discord p:not(.block) span {
  font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  background-color: #2f3136;
  border-radius: 3px;
  font-size: 85%;
  padding: .2em;
  margin: -.2em 0;
}

#discord .block .white { color: #ffffff }
#discord .block .red { color: #dc322f }
#discord .block .yellow { color: #b58900 }
#discord .block .green { color: #859900 }
#discord .block .cyan { color: #2aa198 }
#discord .block .blue { color: #268bd2 }
#discord .block .pink { color: #d33682 }
#discord .block .grey { color: #4f545c }
#discord .block .normal { color: #dcddde }

.discord { background-color: #36393f; }

#discordChara {
  font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  position: sticky;
  bottom: 0.5em;
  margin-right: auto;
  width: max-content;
  padding: .5em;
  
  background-color: #36393f;
  color: #dcddde;

  border: 1px solid #202225;
  border-left: none;

  border-radius: 0 3px 3px 0;
  display: none;
}

.discord #discordChara { display: block }

#tumblr {
  font-family: "Favorit", "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  background-color: white;
  margin: .5em;
  padding: 20px;
  border-radius: 3px;
}

#tumblr p { margin: .938rem 0; }
#tumblr p:first-child { margin-top: 0; }
#tumblr p:last-child { margin-bottom: 0; }

#tumblr .npf_chat {
  font-family: Courier, monospace;
}

.tumblr {
  background: #001935;
}

#gdocs {
  padding: 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
}

#gdocs .block, #finalGdocs .block {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  border: 1px dashed gray;
  padding: 2px 5px;
}

#gdocs .pesterlog, #finalGdocs .pesterlog {
  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  color: #000000;
  background: #eee;
}

#gdocs table + table, #finalGdocs table + table {
  margin-top: 1em;
}

#gdocs p span:not(.plain), #finalGdocs p span:not(.plain) {
  font-family: courier, monospace;
  font-size: 14px;
  font-weight: bold;
}

#finalGdocs .block {
  width: 812px;
}

#finalGdocs {
  height: 450px;
  overflow-y: auto;
  border: solid black;
  padding: 1em;
}

#finalGdocs .pesterlog {
  white-space: pre-line;
}

#finalGdocs p {
  background: white;
}

#cohost {
  font-family: Atkinson Hyperlegible,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  padding-left: .75rem;
  padding-right: .75rem;
}

#epilogue {
  padding: 15px 30px 15px;
  font-family: adobe-garamond-pro, serif;
}

/* Options Hud */

#title {
  font-family: fontstuck;
  font-size: 3em;
  text-shadow: #000 0.05em 0.05em 0;
  text-align: center;
  margin-top: -.25em;
}

#options {
  padding: 0.25em;
  display: flex;
  justify-content: space-between;
}

#options > * {
  width: 30%;
}

#options button {
  border: solid white;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  color: white;

  background-color: var(--col);

  font-family: Arial, Helvetica, sans-serif;
}

#options button:active {
  background-color: white;
  color: var(--col);
  border-color: var(--col);
}

#helpBtn { --col: #0715cd; }
#aboutBtn { --col: #b536da; }
#formatsBtn { --col: #e00707; }
#copyBtn { --col: #4ac925; margin-left: auto; display: block;}

/* Popups */

#popup {
  position: fixed;
  background-color: #000a;
  display: flex;

  align-items: top;
  justify-content: center;

  top: 0; bottom: 0; left: 0; right: 0;

  padding-top: 10vh;

  overflow-y: auto;
}

#popup > div {
  background-color: white;
  border-radius: 10px;
  padding: 10px;

  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;

  height: max-content;
  margin-bottom: 5vh;
}

#popup h1 {
  margin-top: 0;
  border-bottom: solid black 1px;
  padding-bottom: 5px
} 

.ex {
  width: max-content;
  background-color: #eee;
  padding: .5em 1em;
  border-radius: 10px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.ex > div:first-child, .ex > div:nth-child(4) {
  font: 1em 'Lucida Grande','Lucida Sans Unicode',Verdana,Helvetica,sans-serif;
  font-size: .875em;
}

.ex > div:nth-child(3) {
  display: inline-block;

  font-size: 14px;
  font-weight: bold;
  font-family: courier, monospace;
  background: #eee;
  border: 1px dashed gray;
  padding: 10px 35px;

  word-wrap: normal;
}

/* Format Editor */

.formatInteract {
  border: 1px dashed gray;
  padding: 10px;
  border-radius: 10px;
}

#userFormats > * {
  border-radius: 10px;
  padding: 2px;
}

#userFormats > *:hover {
  background-color: #eee;
}

#userFormats > *:hover .collapseHead {
  background-color: #ddd;
}

.collapseHead {
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.collapse {
  overflow: hidden;
}

.collapse.closed {
  max-height: 0;
}

.collapse ul {
  margin: 0;
  list-style-type: none;
}

.collapse .formatNames {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25em;
}

.formatBin {
  float: right;
  margin-top: -.5em;
  display: none;
}

#userFormats > *:hover .formatBin {
  display: inline;
}

/* Copy */

#skinStatus {
  padding: 10px;
  border-radius: 10px;
}

#skinStatus.green {
  background: lightgreen;
}

#skinStatus.red {
  background: lightcoral;
}

.tumblr-tutorial {
  width: 60%;
  display: block;
  margin: 0.5em auto;
  border-radius: 10px;
}

